p.newgame a,
p.newgame_subtitle a
{
    text-transform: capitalize;
    color: #000000;
}

p.newgame a{
	font-weight: 700;
	color: #14da14;
}

p.newgame a:hover{
	color: #63f163;
}

h4.newgame__title a{
	text-transform: uppercase;
	color: #000000;
}

ul.gamehot__list{
	margin-top: 20px;
}

ul.gamehot__list li{
	display: inline-block;
}

ul.gamehot__list .gamehot__title div{
	padding: 0 10px;
}

ul.gamehot__list .gamehot__title div p{
	margin: 0;
	padding: 0;
	text-transform: capitalize;
    font-weight: 500;
}

ul.gamehot__list .gamehot__title div p a{
	color: #000000;
}

ul.gamehot__list .gamehot__title div p a:hover{
	color: #007bff;
}

.gameyoulike .meta p{
	font-weight: 600;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 24px;
    width: 60%;
}

ul.index-category{
    padding: 10px;
    overflow: hidden;
}

ul.index-category li{
    width: 100%;
    float: left;
    height: 30px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-category li a {
    color: #666;
}

.index-category li a:hover {
    color: #00A6ED;
}

.index-category li a i {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(https://static.apkpure.com/www/static/imgs/categorybg-30.png) no-repeat;
    margin-right: 5px;
}

.cicon .adventure {
    background-position: 0 -30px;
}

.cicon .arcade {
    background-position: 0 -60px;
}

.cicon .puzzle {
    background-position: 0 -300px;
}

.cicon .role-playing {
    background-position: 0 -360px;
}

.cicon .sports {
    background-position: 0 -420px;
}

.cicon .word {
    background-position: 0 -510px;
}

.cicon .strategy {
    background-position: 0 -450px;
}

.cicon .trivia {
    background-position: 0 -480px;
}

.cicon .entertainment {
    background-position: 0 -690px;
}

.cicon .racing {
    background-position: 0 -330px;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  	float: right;
    border: 3px solid #00B4CC;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: 0px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}

@media (max-width: 991px){
	.wrap{
	    left: 64%;
	    transform: translate(-50%, -100%);
	}
	#mobile-nav ul{
		margin-top:40px;
	}
	#mobile-nav ul li a{

	}
}
